includes:
    - phpstan-baseline.neon
    - vendor/nunomaduro/larastan/extension.neon
parameters:
    treatPhpDocTypesAsCertain: false
    level: 8
    paths:
        - src
        - config
        - resources